<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFleetManagerService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IFleetManagerService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:41917/fleetManager.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFleetManagerService" contract="FleetManagerServiceReference.IFleetManagerService" name="NetTcpBinding_IFleetManagerService" />
            <endpoint address="http://127.0.0.1:41916/fleetManager.svc" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IFleetManagerService" contract="FleetManagerServiceReference.IFleetManagerService" name="WSDualHttpBinding_IFleetManagerService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>