<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFleetManagerService_PublicAPI_v2_0">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:41917/fleetManager.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFleetManagerService_PublicAPI_v2_0"
                contract="FleetManagerServiceReference.IFleetManagerService_PublicAPI_v2_0"
                name="NetTcpBinding_IFleetManagerService_PublicAPI_v2_0" />
            <endpoint address="http://127.0.0.1:41916/fleetManager.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0"
                contract="FleetManagerServiceReference.IFleetManagerService_PublicAPI_v2_0"
                name="WSDualHttpBinding_IFleetManagerService_PublicAPI_v2_0" />
            <endpoint address="net.pipe://localhost/fleetManager.svc" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0"
                contract="FleetManagerServiceReference.IFleetManagerService_PublicAPI_v2_0"
                name="NetNamedPipeBinding_IFleetManagerService_PublicAPI_v2_0">
                <identity>
                    <userPrincipalName value="martin.davies@automation1.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>